extends base 

block head
    title=`${asset.name}`
    meta(name="description" content=`${asset.description.text[0]}`)
    meta(name="robots" content="index, follow")
    link(rel="canonical" href=`https://www.dirabulgarit.co.il/ru/asset/${asset.slug}`)
    link(rel="alternate" href=`https://www.dirabulgarit.co.il/ru/asset/${asset.slug}` hreflang="ru")
    link(rel="alternate" href=`https://www.dirabulgarit.co.il/en/asset/${asset.slug}` hreflang="en")
    link(rel="alternate" href=`https://www.dirabulgarit.co.il/asset/${asset.slug}` hreflang="he")

    meta(property="og:title" content=`${asset.name}`)
    meta(property="og:description" content=`${asset.description.text[0]}` )
    meta(property="og:image" content=`${asset.mainImage}`)
    meta(property="og:image:width" content="1200")
    meta(property="og:image:height" content="630")
    include ../he/_headLinksScripts

block content

    .container-fluid.asset-headline-container.py-xxl-2
        .row.asset-headline-row.mx-4
            .col.asset-headline-col.text-center 
                div.asset-modal-open-btn-container
                    button.search-modal-open-btn(data-bs-toggle="modal" data-bs-target="#searchModal") Открыть поиск
                h1.asset-headline=`${asset.name}`           

    #assetModal.modal.fade.asset-gallery-modal.text-center(tabindex='-1' aria-labelledby='assetModalLabel' aria-hidden='true')
        .modal-dialog.modal-dialog-centered
            .asset-gallery-modal-content.modal-content
                .row.d-flex
                    .col-6.align-content-center
                        div.text-start.px-4
                            div.asset-gallery-img-text=`${asset.project}` 
                    .col-6
                        div.text-end.p-3
                            button.btn-close.asset-gallery-modal-close-btn.p-2.my-auto(type='button' data-bs-dismiss='modal' aria-label='Close')
                #assetCarousel.carousel.slide(data-bs-touch='true' data-bs-interval='30000' data-bs-ride='carousel')
                    .carousel-inner.asset-modal-carousel-inner
                    button.carousel-control-prev(type='button' data-bs-target='#assetCarousel' data-bs-slide='prev')
                        div.carousel-icon-container.d-flex.align-content-center.justify-content-center
                            span.carousel-control-prev-icon.asset-gallery-carousel-prev-icon(aria-hidden='true')
                    button.carousel-control-next(type='button' data-bs-target='#assetCarousel' data-bs-slide='next')
                        div.carousel-icon-container.d-flex.align-content-center.justify-content-center
                            span.carousel-control-next-icon.asset-gallery-carousel-next-icon(aria-hidden='true')                           
            
    .container-fluid.asset-details-container
        .row.asset-details-row.mx-4.gx-md-5.justify-content-center
            .col-12.col-md-7.col-lg-8.col-xl-7.asset-details-gallery-col
                div.asset-gallery-mainImage-container
                    if asset.sold
                        .span.badge.asset-card-sold-badge.en-asset-card-sold-badge Продано
                    //- if asset.exclusive && !asset.sold
                    //-     .span.badge.asset-card-exclusive-badge.en-asset-card-exclusive-badge Эксклюзивная недвижимость
                    img.asset-gallery-mainImage.en-asset-gallery-mainImage(src=`${asset.mainImage}` alt=`${asset.name}` loading="lazy" data-bs-toggle="modal" data-bs-target="#assetModal")
                    img.asset-gallery-zoomIn-icon(src='/img/icons/zoom-in-svgrepo-com-white.svg' alt='Zoom in icon')   
                .row.text-end
                    each img in asset.images
                        .col.col-md-4.col-lg-3.col-xxl-2
                            div.asset-gallery-thumbnails-container           
                                img.asset-gallery-thumbnail.en-asset-gallery-thumbnail(src=img alt=`${asset.name}` loading="lazy")
            .col-12.col-md-5.col-lg-4.col-xl-3.asset-details-features-col.en-asset-details-features-col  
                div.mobile-asset-favorite-btn-container.text-start
                    button.asset-favorite-btn-white
                        img.favorite-btn-icon(src='/img/icons/heart-empty-svgrepo-com-outline.svg' alt='Значок сердца') 
                if asset.id   
                    div.assets-details-features 
                        img.assets-details-features-icon(src='/img/icons/hashtag-svgrepo-com-white.svg' alt='Значок номера')       
                        span.assets-details-features-text <strong>ID: </strong>
                        span.asset-details-id= asset.id 
                if asset.price && !asset.sold     
                    div.assets-details-features 
                        img.assets-details-features-icon(src='/img/icons/price-tag-svgrepo-com-white.svg' alt='Значок ценника')       
                        span.assets-details-features-text <strong>Цена: </strong>
                        span.asset-price(data-europrice=`${asset.priceBeginningAt === true ? 'Начиная с ' : ''}€${new Intl.NumberFormat().format(asset.price)}` data-nisprice=`${asset.priceBeginningAt === true ? 'Начиная с ' : ''}₪${new Intl.NumberFormat().format(asset.priceNis)}`)
                if asset.project     
                    div.assets-details-features 
                        img.assets-details-features-icon(src='/img/icons/building-svgrepo-com-white.svg' alt='Значок здания')       
                        span.assets-details-features-text <strong>Проект: </strong> 
                        span= asset.project 
                if asset.city 
                    div.assets-details-features 
                        img.assets-details-features-icon(src='/img/icons/map-svgrepo-com-white.svg' alt='Значок карты')       
                        span.assets-details-features-text <strong>Город: </strong> 
                        span= asset.city 
                if asset.type
                    div.assets-details-features 
                        img.assets-details-features-icon(src='/img/icons/house-svgrepo-com-white.svg' alt='Значок дома')       
                        span.assets-details-features-text <strong>Тип: </strong> 
                        span= asset.type 
                if asset.sm
                    div.assets-details-features 
                        img.assets-details-features-icon(src='/img/icons/ruler-svgrepo-com-white.svg' alt='Значок линейки')       
                        span.assets-details-features-text <strong>Площадь: </strong> 
                        span= asset.sm 
                if asset.oceanView
                    div.assets-details-features 
                        img.assets-details-features-icon(src='/img/icons/ocean-sunset-svgrepo-com-white.svg' alt='Значок заката океана')       
                        span.assets-details-features-text <strong>До моря: </strong> 
                        span= asset.oceanView 
                if asset.rooms
                    div.assets-details-features 
                        img.assets-details-features-icon(src='/img/icons/living-room-sofa-svgrepo-com-white.svg' alt='Значок гостиной')       
                        span.assets-details-features-text <strong>Номера: </strong>
                        span= asset.rooms  
                if asset.bedrooms
                    div.assets-details-features 
                        img.assets-details-features-icon(src='/img/icons/bed-bedroom-comfortable-svgrepo-com-white.svg' alt='Значок спальни')       
                        span.assets-details-features-text <strong>Спальни: </strong>
                        span= asset.bedrooms  
                if asset.bathrooms
                    div.assets-details-features 
                        img.assets-details-features-icon(src='/img/icons/bath-bathroom-bathtub-svgrepo-com-white.svg' alt='Значок ванных комнат')       
                        span.assets-details-features-text <strong>Ванные комнаты: </strong> 
                        span= asset.bathrooms 
                if asset.terraces 
                    div.assets-details-features 
                        img.assets-details-features-icon(src='/img/icons/balcony-window-svgrepo-com-white.svg' alt='Значок балкона')       
                        span.assets-details-features-text <strong>Балконы: </strong> 
                        span= asset.terraces 
                if asset.floor
                    div.assets-details-features 
                        img.assets-details-features-icon(src='/img/icons/floor-plan-svgrepo-com-white.svg' alt='Значок этажа здания')       
                        span.assets-details-features-text <strong>Этаж: </strong> 
                        span= asset.floor 
                if asset.parking
                    div.assets-details-features 
                        img.assets-details-features-icon(src='/img/icons/parking-svgrepo-com-white.svg' alt='Значок парковки')       
                        span.assets-details-features-text <strong>Стоянка: </strong> 
                        span= asset.parking 
                if asset.windDirections
                    div.assets-details-features 
                        img.assets-details-features-icon(src='/img/icons/wind-svgrepo-com-white.svg' alt='Значок направления воздуха')       
                        span.assets-details-features-text <strong>Воздушные направления: </strong> 
                        span= asset.windDirections 
                if asset.readiness 
                    div.assets-details-features 
                        img.assets-details-features-icon(src='/img/icons/date-svgrepo-com-white.svg' alt='Значок календаря')   
                        span.assets-details-features-text <strong>Готовность: </strong> 
                        span= asset.readiness
                if asset.maintenanceFee
                    div.assets-details-features 
                        img.assets-details-features-icon(src='/img/icons/maintenance-svgrepo-com-white.svg' alt='Значок гаечного ключа')       
                        span.assets-details-features-text <strong>Обслуживание: </strong> 
                        span= asset.maintenanceFee
                if asset.furnished && asset.furnished === true
                    div.assets-details-features 
                        img.assets-details-features-icon(src='/img/icons/furniture-svgrepo-com-white.svg' alt='Значок мебели')  
                        span.assets-details-features-text <strong>Мебель: </strong> 
                        span Yes
                if asset.yearBuilt
                    div.assets-details-features 
                        img.assets-details-features-icon(src='/img/icons/crane-tool-svgrepo-com-white.svg' alt='Значок строительного крана')               
                        span.assets-details-features-text <strong>Год постройки: </strong> 
                        span= asset.yearBuilt
                if asset.description.text
                    div.asset-details-description-smallViewport-container
                        each text in asset.description.text
                            div.asset-details-description!= text
                if asset.description.listOne
                    div.asset-details-description-smallViewport-container
                        div.asset-details-description.assets-details-description-title!= asset.description.listOne.listOneTitle
                        each text in asset.description.listOne.listOneText 
                            div.asset-details-description!= `● ` + text        
                if asset.description.listTwo
                    div.asset-details-description-smallViewport-container
                        div.asset-details-description.assets-details-description-title!= asset.description.listTwo.listTwoTitle
                        each text in asset.description.listTwo.listTwoText 
                            div.asset-details-description!= `● ` + text        
                div.asset-btn-smallViewport-container.text-center
                    button.btn-cta-asset.to-calendly-btn Связаться
                    button.share-btn-white
                        img.share-btn-icon(src='/img/icons/share-svgrepo-com-outline.svg' alt='Значок страницы "Поделиться"')   
            .col-md-12.col-xl-10.asset-details-description-middleViewport-col.en-asset-details-description-middleViewport-col
                if asset.description.text
                    div.assets-details-description-container.assets
                        each text in asset.description.text
                            div.asset-details-description!= text
                if asset.description.listOne
                    div.assets-details-description-container
                        div.asset-details-description.assets-details-description-title!= asset.description.listOne.listOneTitle
                        each text in asset.description.listOne.listOneText 
                            div.asset-details-description!= `● ` + text  
                if asset.description.listTwo
                    div.assets-details-description-container
                        div.asset-details-description.assets-details-description-title!= asset.description.listTwo.listTwoTitle
                        each text in asset.description.listTwo.listTwoText 
                            div.asset-details-description!= `● ` + text 
                div.asset-btn-middleViewport-container.text-center
                    button.asset-favorite-btn-white
                        img.favorite-btn-icon(src='/img/icons/heart-empty-svgrepo-com-outline.svg' alt='Heart Icon') 
                    button.btn-cta-asset.to-calendly-btn Связаться
                    button.share-btn-white
                        img.share-btn-icon(src='/img/icons/share-svgrepo-com-outline.svg' alt='Share page icon')  

    if asset.amenities.length > 0    
        .container-fluid.asset-amenities-container.py-xxl-5
            .row.asset-amenities-row.mx-4.justify-content-center 
                .col-10.asset-amenities-headline-col
                    h2.asset-amenities-headline Преимущества
                .col-10.asset-amenities-col
                    .row.asset-amenities-details-row.en-asset-amenities-details-row
                        if asset.amenities
                            each amenity in asset.amenities    
                                .col-12.col-md-6.col-lg-4.col-xl-3
                                    div.asset-amenities-details-container
                                        img.assets-details-features-icon(src='/img/icons/check-svgrepo-com.svg' alt='Значок знака V') 
                                        span= amenity

    if asset.videoURL    
        .container-fluid.asset-video-container.py-xxl-3
            .row.asset-video-row.mx-4.justify-content-center 
                .col-12.col-md-10.asset-video-col.text-center(role="region" aria-labelledby="assetVideoDescription")
                    iframe(src=`${asset.videoURL}` frameborder="2" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen).asset-video                    
                span.visually-hidden(id="assetVideoDescription")=`Видео объекта недвижимости ${asset.name}`
    
    if asset.location.coordinates[0] && asset.location.coordinates[1]
        .container-fluid.asset-map-container.py-xxl-3
            .row.asset-map-row.mx-4.justify-content-center 
                .col-10.asset-map-healine-col
                    h2.asset-map-headline Расположение
                .col-12.col-xl-10.asset-map-col
                    div.asset-map(id='map' data-long=`${asset.location.coordinates[0]}` data-lat=`${asset.location.coordinates[1]}` data-title=`${asset.location.title}`)

    .container.asset-back-to-results-container.text-center.py-xxl-5
        button.asset-back-to-results-btn.w-75 Вернуться на предыдущую страницу
    
    .container-fluid.asset-related-assets-container
        .row.asset-related-assets-row.justify-content-center.mx-2
            .col-10.asset-related-assets-headline-col
                h2.asset-related-assets-headline.text-center Похожие объекты недвижимости
            each asset in relatedAssets
                include _assetsCards
        .row.mobile-asset-related-assets-row.justify-content-center.mx-2
            .col-10.asset-related-assets-headline-col
                h2.asset-related-assets-headline.text-center Похожие объекты недвижимости
            each asset in relatedAssets
                include _mobileAssetsCards  

    //- .container-fluid.d-flex.justify-content-center.py-xxl-4
    //-     .asset-search-container.w-75   
    //-         include _searchForm

    //-     include _searchModal              

    include _contactUsFixed  
    include _contactUsFixedMobile      