extends base 

block head
    meta(property="og:image" content=`${blog.imgSrc}`)
    meta(property="og:image:width" content="1200")
    meta(property="og:image:height" content="630")
    include _headLinksScripts

block content

    .container-fluid
        .row.blog-content-row.justify-content-center 
            .col-10.blog-content-text-col
                h1.blog-content-title(dir='rtl')= blog.blogTitle
                div.blog-content-date(dir='rtl')= `${moment(blog.date).format('DD.MM.YYYY')}`
                if blog.sectionOneTitle     
                    div.blog-content-textSectionTitle(dir='rtl')= blog.sectionOneTitle
                if blog.sectionOneTexts
                    each text in blog.sectionOneTexts
                        div.blog-content-text(dir='rtl')= text
                div.blog-section-separator        
                if blog.sectionTwoTitle     
                    div.blog-content-textSectionTitle(dir='rtl')= blog.sectionTwoTitle
                if blog.sectionTwoTexts
                    each text in blog.sectionTwoTexts
                        div.blog-content-text(dir='rtl')= text
                div.blog-section-separator          
                if blog.sectionThreeTitle     
                    div.blog-content-textSectionTitle(dir='rtl')= blog.sectionThreeTitle
                if blog.sectionThreeTexts
                    each text in blog.sectionThreeTexts
                        div.blog-content-text(dir='rtl')= text
                div.blog-section-separator          
                if blog.sectionFourTitle     
                    div.blog-content-textSectionTitle(dir='rtl')= blog.sectionFourTitle
                if blog.sectionFourTexts
                    each text in blog.sectionFourTexts
                        div.blog-content-text(dir='rtl')= text
                div.blog-section-separator          
                if blog.sectionFiveTitle     
                    div.blog-content-textSectionTitle(dir='rtl')= blog.sectionFiveTitle
                if blog.sectionFiveTexts
                    each text in blog.sectionFiveTexts
                        div.blog-content-text(dir='rtl')= text
                div.blog-section-separator          
                if blog.listOne.listOneTitle
                    div.blog-content-listTitle(dir='rtl')= blog.listOne.listOneTitle
                if blog.listOne.listOneTexts
                    each text in blog.listOne.listOneTexts  
                        div.blog-content-list-text(dir='rtl')= `● ` + text 
                div.blog-section-separator          
                if blog.listTwo.listTwoTitle
                    div.blog-content-listTitle(dir='rtl')= blog.listTwo.listTwoTitle
                if blog.listTwo.listTwoTexts
                    each text in blog.listTwo.listTwoTexts  
                        div.blog-content-list-text(dir='rtl')= `● ` + text 
                div.blog-section-separator          
                if blog.listThree.listThreeTitle
                    div.blog-content-listTitle(dir='rtl')= blog.listThree.listThreeTitle
                if blog.listThree.listThreeTexts
                    each text in blog.listThree.listThreeTexts  
                        div.blog-content-list-text(dir='rtl')= `● ` + text 
                div.blog-content-listTitle(dir='rtl') דירה בולגרית הוקמה במטרה לעזור למשקיע הישראלי למצוא את הנכסים הכדאיים ביותר ברחבי בולגריה. באתרנו תמצאו אלפי נכסים - החל בדירות סטודיו באתרי נופש ועד דירות יוקרה של שלושה וארבעה חדרים בפרוייקטים מודרניים הבנויים בסטנדרטים הגבוהים ביותר. צוות המומחים שלנו מחכה לכם, קבעו עוד היום פגישת וידאו בזמן שהכי נוח לכם ואנו נפגש אתכם ונענה לכל שאלה כדי שתוכלו למצוא את השקעות הנדל"ן המשתלמות ביותר עבורכם בבולגריה.        
            .col-10.text-center.py-4    
                    button.btn-cta.pricing-cta-btn.to-calendly-btn(aria-label='מעבר לעמוד יצירת קשר') צרו קשר
                    button.share-btn
                        img.share-btn-icon(src='/img/icons/share-svgrepo-com-white.svg' alt='אייקון שיתוף דף') 