extends base 

block content

    .container.blog-cards-container
        .row.blog-headline-row.justify-content-end.mx-auto 
                .col-10.blog-headline-col
                    h1.blog-headline(dir='rtl') חשוב לדעת
                    div.blog-headline-text(dir='rtl') בדירה בולגרית אנו מאמינים שידע זה כח, לכן ריכזנו עבורכם מאמרים במבחר נושאים כמו השקעה בבולגריה, החיים בבולגריה, מיסוי בבולגריה, התאזרחות בבולגריה ועוד. 
        .row.blog-cards-row.mx-auto 
            .col-12.blog-cards-col 
                each blog in blogs       
                    .card.blog-card(data-slug=`${blog.slug}`)
                        .row.g-0.d-flex.align-items-lg-center
                            .col-md-4.d-flex
                                img.blog-card-img.img-fluid(src=`${blog.imgSrc}` alt=`${blog.imgAlt}` loading="lazy")
                            .col-md-8
                                .card-body
                                    div.card-title.blog-card-title(dir='rtl')= blog.blogTitle
                                    div.blog-card-date= `${moment(blog.date).format('DD.MM.YYYY')}`
                                    div.card-text.blog-card-text(dir='rtl')= blog.sectionOneTexts[0]
                                    div.text-center.py-3
                                        button.blog-card-btn(aria-label='להמשך קריאת הבלוג') להמשך קריאה