.col-11.col-sm-10
    .card.asset-card(data-slug=`${asset.slug}`)
        div.asset-card-img-container
            if asset.sold
                .span.badge.asset-card-sold-badge.en-asset-card-sold-badge Sold 
            if asset.exclusive && !asset.sold
                .span.badge.asset-card-exclusive-badge.en-asset-card-exclusive-badge Exclusive Property  
            img.card-img-top.asset-card-img(src=`${asset.mainImage}` alt=`${asset.name}` loading="lazy")
        .card-body
            .container-fluid
                .row.asset-card-body-row
                    .col-12.p-1.asset-card-title-col.d-flex.align-items-center.justify-content-center
                        div.card-headline-container
                            .card-title.mobile-asset-card-title= asset.name
                    .col-6
                        if asset.project
                            div.mobile-card-text-container
                                img.mobile-card-icon.en-card-icon(src='/img/icons/building-svgrepo-com.svg' alt='Building icon') 
                                span= asset.project 
                        else
                            div.mobile-card-text-container
                                img.mobile-card-icon.en-card-icon(src='/img/icons/building-svgrepo-com.svg' alt='Building icon')        
                                span= `-`
                    .col-6    
                        if asset.price   
                            div.mobile-card-text-container       
                                img.mobile-card-icon.en-card-icon(src='/img/icons/price-tag-svgrepo-com.svg' alt='Price tag icon')
                                span.asset-price(data-europrice=`${asset.priceBeginningAt === true ? 'Beginning at' : ''} €${ new Intl.NumberFormat().format(asset.price)}` data-nisprice=`${asset.priceBeginningAt === true ? 'Beginning at' : ''} ₪${new Intl.NumberFormat().format(asset.priceNis)}`)
                        else
                            div.mobile-card-text-container       
                                img.mobile-card-icon.en-card-icon(src='/img/icons/price-tag-svgrepo-com.svg' alt='Price tag icon')  
                                span -
                    .col-6              
                        if asset.city  
                            div.mobile-card-text-container
                                img.mobile-card-icon.en-card-icon(src='/img/icons/map-svgrepo-com.svg' alt='Map icon')
                                span= asset.city
                        else
                            div.mobile-card-text-container
                                img.mobile-card-icon.en-card-icon(src='/img/icons/map-svgrepo-com.svg' alt='Map icon')
                                span= `-`
                    .col-6    
                        if asset.type
                            div.mobile-card-text-container    
                                img.mobile-card-icon.en-card-icon(src='/img/icons/house-svgrepo-com.svg' alt='House icon')
                                span= asset.type
                        else 
                            div.mobile-card-text-container    
                                img.mobile-card-icon.en-card-icon(src='/img/icons/house-svgrepo-com.svg' alt='House icon')
                                span= `-`
                    .col-6            
                        if asset.sm
                            div.mobile-card-text-container.card-text-last-container    
                                img.mobile-card-icon.en-card-icon(src='/img/icons/ruler-svgrepo-com.svg' alt='Ruler icon')
                                span= asset.sm
                        else
                            div.mobile-card-text-container.card-text-last-container    
                                img.mobile-card-icon.en-card-icon(src='/img/icons/ruler-svgrepo-com.svg' alt='Ruler icon')
                                span= `-`
                    .col-6    
                        if asset.rooms       
                            div.mobile-card-text-container.card-text-last-container    
                                img.mobile-card-icon.en-card-icon(src='/img/icons/living-room-sofa-svgrepo-com.svg' alt='Living room icon')
                                span= asset.rooms
                        else  
                            div.mobile-card-text-container.card-text-last-container    
                                img.mobile-card-icon.en-card-icon(src='/img/icons/living-room-sofa-svgrepo-com.svg' alt='Living room icon')  
                                span= `-`
                                              