extends base 

block head
    meta(property="og:title" content=`${asset.project}`)
    meta(property="og:description" content=`${asset.name}` )
    meta(property="og:image" content=`${asset.mainImage}`)
    meta(property="og:image:width" content="1200")
    meta(property="og:image:height" content="630")
    include _headLinksScripts

block content

    .container-fluid.d-flex.justify-content-center.py-xxl-4
        .asset-search-container.w-75   
            include _searchForm

        include _searchModal  

    .container-fluid.asset-headline-container.py-xxl-2
        .row.asset-headline-row.mx-4
            .col.asset-headline-col.text-center 
                div.asset-modal-open-btn-container
                    button.search-modal-open-btn(data-bs-toggle="modal" data-bs-target="#searchModal") חפשו נכס
                h1.asset-headline(dir='rtl')=`${asset.name}`           

    #assetModal.modal.fade.asset-gallery-modal.text-center(tabindex='-1' aria-labelledby='assetModalLabel' aria-hidden='true')
        .modal-dialog.modal-dialog-centered
            .asset-gallery-modal-content.modal-content
                .row.d-flex
                    .col-6.align-content-center
                        div.text-start.px-4
                            div.asset-gallery-img-text=`${asset.project}` 
                    .col-6
                        div.text-end.p-3
                            button.btn-close.asset-gallery-modal-close-btn.p-2.my-auto(type='button' data-bs-dismiss='modal' aria-label='Close')
                #assetCarousel.carousel.slide(data-bs-touch='true' data-bs-interval='30000' data-bs-ride='carousel')
                    .carousel-inner.asset-modal-carousel-inner
                    button.carousel-control-prev(type='button' data-bs-target='#assetCarousel' data-bs-slide='prev')
                        div.carousel-icon-container.d-flex.align-content-center.justify-content-center
                            span.carousel-control-prev-icon.asset-gallery-carousel-prev-icon(aria-hidden='true')
                    button.carousel-control-next(type='button' data-bs-target='#assetCarousel' data-bs-slide='next')
                        div.carousel-icon-container.d-flex.align-content-center.justify-content-center
                            span.carousel-control-next-icon.asset-gallery-carousel-next-icon(aria-hidden='true')                           
            
    .container-fluid.asset-details-container
        .row.asset-details-row.mx-4.gx-md-5.justify-content-center
            .col-12.col-md-7.col-lg-8.col-xl-7.asset-details-gallery-col
                div.asset-gallery-mainImage-container
                    if asset.sold
                        .span.badge.asset-card-sold-badge נמכר 
                    if asset.exclusive && !asset.sold
                        .span.badge.asset-card-exclusive-badge נכס בבלעדיות 
                    img.asset-gallery-mainImage(src=`${asset.mainImage}` alt=`${asset.name}` loading="lazy" data-bs-toggle="modal" data-bs-target="#assetModal")
                    img.asset-gallery-zoomIn-icon(src='/img/icons/zoom-in-svgrepo-com-white.svg' alt='Zoom in icon')   
                .row.text-end
                    each img in asset.images
                        .col.col-md-4.col-lg-3.col-xxl-2
                            div.asset-gallery-thumbnails-container           
                                img.asset-gallery-thumbnail(src=img alt=`${asset.name}` loading="lazy")
            .col-12.col-md-5.col-lg-4.col-xl-3.asset-details-features-col 
                div.mobile-asset-favorite-btn-container.text-end
                    button.asset-favorite-btn-white
                        img.favorite-btn-icon(src='/img/icons/heart-empty-svgrepo-com-outline.svg' alt='אייקון של לב') 
                if asset.id   
                    div.assets-details-features 
                        span.asset-details-id(dir='rtl')= asset.id 
                        span.assets-details-features-text(dir='rtl') <strong>מספר נכס: </strong>
                        img.assets-details-features-icon(src='/img/icons/hashtag-svgrepo-com-white.svg' alt='אייקון של מספר')       
                if asset.price     
                    div.assets-details-features 
                        span.assets-details-features-text <strong>מחיר: </strong>
                        span.asset-price(data-europrice=`${asset.priceBeginningAt === true ? 'החל מ' : ''}€${new Intl.NumberFormat().format(asset.price)}` data-nisprice=`${asset.priceBeginningAt === true ? 'החל מ' : ''}₪${new Intl.NumberFormat().format(asset.priceNis)}`)
                        img.assets-details-features-icon(src='/img/icons/price-tag-svgrepo-com-white.svg' alt='אייקון של תג מחיר')       
                if asset.project     
                    div.assets-details-features 
                        span= asset.project 
                        span.assets-details-features-text(dir='rtl') <strong>פרויקט: </strong> 
                        img.assets-details-features-icon(src='/img/icons/building-svgrepo-com-white.svg' alt='אייקון של בניין')       
                if asset.city 
                    div.assets-details-features 
                        span(dir='rtl')= asset.city 
                        span.assets-details-features-text(dir='rtl') <strong>עיר: </strong> 
                        img.assets-details-features-icon(src='/img/icons/map-svgrepo-com-white.svg' alt='אייקון של מפה')       
                if asset.type
                    div.assets-details-features 
                        span.assets-details-features-text <strong>סוג נכס: </strong> 
                        span= asset.type 
                        img.assets-details-features-icon(src='/img/icons/house-svgrepo-com-white.svg' alt='אייקון של בית')       
                if asset.sm
                    div.assets-details-features 
                        span.assets-details-features-text <strong>שטח: </strong> 
                        span= asset.sm 
                        img.assets-details-features-icon(src='/img/icons/ruler-svgrepo-com-white.svg' alt='אייקון של סרגל')       
                if asset.oceanView
                    div.assets-details-features 
                        span.assets-details-features-text <strong>קרבה לים: </strong> 
                        span= asset.oceanView 
                        img.assets-details-features-icon(src='/img/icons/ocean-sunset-svgrepo-com-white.svg' alt='אייקון של שמש שוקעת בים')       
                if asset.rooms
                    div.assets-details-features 
                        span.assets-details-features-text <strong>חדרים: </strong>
                        span= asset.rooms  
                        img.assets-details-features-icon(src='/img/icons/living-room-sofa-svgrepo-com-white.svg' alt='אייקון של סלון')       
                if asset.bedrooms
                    div.assets-details-features 
                        span.assets-details-features-text <strong>חדרי שינה: </strong>
                        span= asset.bedrooms  
                        img.assets-details-features-icon(src='/img/icons/bed-bedroom-comfortable-svgrepo-com-white.svg' alt='אייקון של חדר שינה')       
                if asset.bathrooms
                    div.assets-details-features 
                        span.assets-details-features-text <strong>שירותים: </strong> 
                        span= asset.bathrooms 
                        img.assets-details-features-icon(src='/img/icons/bath-bathroom-bathtub-svgrepo-com-white.svg' alt='אייקון של מקלחת')       
                if asset.terraces 
                    div.assets-details-features 
                        span.assets-details-features-text <strong>מרפסות: </strong> 
                        span= asset.terraces 
                        img.assets-details-features-icon(src='/img/icons/balcony-window-svgrepo-com-white.svg' alt='אייקון של מרפסת')       
                if asset.floor
                    div.assets-details-features 
                        span.assets-details-features-text <strong>קומה: </strong> 
                        span= asset.floor 
                        img.assets-details-features-icon(src='/img/icons/floor-plan-svgrepo-com-white.svg' alt='אייקון של תוכנית קומה בבניין')       
                if asset.parking
                    div.assets-details-features 
                        span.assets-details-features-text <strong>חניה: </strong> 
                        span= asset.parking 
                        img.assets-details-features-icon(src='/img/icons/parking-svgrepo-com-white.svg' alt='אייקון של חניה')       
                if asset.windDirections
                    div.assets-details-features 
                        span.assets-details-features-text <strong>כיווני אוויר: </strong> 
                        span= asset.windDirections 
                        img.assets-details-features-icon(src='/img/icons/wind-svgrepo-com-white.svg' alt='אייקון של רוח נושבת')       
                if asset.readiness 
                    div.assets-details-features 
                        span= asset.readiness
                        span.assets-details-features-text(dir='rtl') <strong>תאריך כניסה: </strong> 
                        img.assets-details-features-icon(src='/img/icons/date-svgrepo-com-white.svg' alt='אייקון של לוח שנה')   
                if asset.maintenanceFee
                    div.assets-details-features 
                        span(dir='rtl')= asset.maintenanceFee
                        span.assets-details-features-text(dir='rtl') <strong>תחזוקה: </strong> 
                        img.assets-details-features-icon(src='/img/icons/maintenance-svgrepo-com-white.svg' alt='אייקון של מפתח שבדי')       
                if asset.furnished && asset.furnished === true
                    div.assets-details-features 
                        span(dir='rtl') כן
                        span.assets-details-features-text(dir='rtl') <strong>ריהוט: </strong> 
                        img.assets-details-features-icon(src='/img/icons/furniture-svgrepo-com-white.svg' alt='אייקון של ריהוט')  
                if asset.yearBuilt
                    div.assets-details-features 
                        span(dir='rtl')= asset.yearBuilt
                        span.assets-details-features-text(dir='rtl') <strong>שנת בנייה: </strong> 
                        img.assets-details-features-icon(src='/img/icons/crane-tool-svgrepo-com-white.svg' alt='אייקון של מנוף בניין')               
                if asset.description.text
                    div.asset-details-description-smallViewport-container
                        each text in asset.description.text
                            div.asset-details-description(dir='rtl')!= text
                if asset.description.listOne
                    div.asset-details-description-smallViewport-container
                        div.asset-details-description.assets-details-description-title(dir='rtl')!= asset.description.listOne.listOneTitle
                        each text in asset.description.listOne.listOneText 
                            div.asset-details-description(dir='rtl')!= `● ` + text        
                if asset.description.listTwo
                    div.asset-details-description-smallViewport-container
                        div.asset-details-description.assets-details-description-title(dir='rtl')!= asset.description.listTwo.listTwoTitle
                        each text in asset.description.listTwo.listTwoText 
                            div.asset-details-description(dir='rtl')!= `● ` + text        
                div.asset-btn-smallViewport-container.text-center
                    button.btn-cta-asset.to-calendly-btn צרו קשר
                    button.share-btn-white
                        img.share-btn-icon(src='/img/icons/share-svgrepo-com-outline.svg' alt='אייקון שיתוף דף')   
            .col-md-12.col-xl-10.asset-details-description-middleViewport-col
                if asset.description.text
                    div.assets-details-description-container.assets
                        each text in asset.description.text
                            div.asset-details-description(dir='rtl')!= text
                if asset.description.listOne
                    div.assets-details-description-container
                        div.asset-details-description.assets-details-description-title(dir='rtl')!= asset.description.listOne.listOneTitle
                        each text in asset.description.listOne.listOneText 
                            div.asset-details-description(dir='rtl')!= `● ` + text  
                if asset.description.listTwo
                    div.assets-details-description-container
                        div.asset-details-description.assets-details-description-title(dir='rtl')!= asset.description.listTwo.listTwoTitle
                        each text in asset.description.listTwo.listTwoText 
                            div.asset-details-description(dir='rtl')!= `● ` + text 
                div.asset-btn-middleViewport-container.text-center
                    button.asset-favorite-btn-white
                        img.favorite-btn-icon(src='/img/icons/heart-empty-svgrepo-com-outline.svg' alt='אייקון של לב') 
                    button.btn-cta-asset.to-calendly-btn צרו קשר
                    button.share-btn-white
                        img.share-btn-icon(src='/img/icons/share-svgrepo-com-outline.svg' alt='אייקון של שיתוף דף')  

    if asset.amenities.length > 0
        .container-fluid.asset-amenities-container.py-xxl-5
            .row.asset-amenities-row.mx-4.justify-content-center 
                .col-10.asset-amenities-headline-col
                    h2.asset-amenities-headline שירותים נוספים
                .col-10.asset-amenities-col
                    .row.asset-amenities-details-row.flex-md-row-reverse
                        if asset.amenities
                            each amenity in asset.amenities    
                                .col-12.col-md-6.col-lg-4.col-xl-3
                                    div.asset-amenities-details-container
                                        span(dir='rtl')= amenity
                                        img.assets-details-features-icon(src='/img/icons/check-svgrepo-com.svg' alt='אייקון של סימן וי') 

    if asset.videoURL    
        .container-fluid.asset-video-container.py-xxl-3
            .row.asset-video-row.mx-4.justify-content-center 
                .col-12.col-md-10.asset-video-col.text-center(role="region" aria-labelledby="assetVideoDescription")
                    iframe(src=`${asset.videoURL}` frameborder="2" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen).asset-video                    
                span.visually-hidden(id="assetVideoDescription")=`וידאו של הנכס ${asset.name}`
    
    if asset.location.coordinates[0] && asset.location.coordinates[1]
        .container-fluid.asset-map-container.py-xxl-5
            .row.asset-map-row.mx-4.justify-content-center 
                .col-10.asset-map-healine-col
                    h2.asset-map-headline מיקום
                .col-12.col-xl-10.asset-map-col
                    div.asset-map(id='map' data-long=`${asset.location.coordinates[0]}` data-lat=`${asset.location.coordinates[1]}` data-title=`${asset.location.title}`)

    .container.asset-back-to-results-container.text-center.py-xxl-5
        button.asset-back-to-results-btn.w-75 חזרה לעמוד הקודם
    
    .container-fluid.asset-related-assets-container
        .row.asset-related-assets-row.justify-content-center.mx-2
            .col-10.asset-related-assets-headline-col
                h2.asset-related-assets-headline.text-center נכסים מעניינים נוספים
            each asset in hotAssets
                include _assetsCards
        .row.mobile-asset-related-assets-row.justify-content-center.mx-2
            .col-10.asset-related-assets-headline-col
                h2.asset-related-assets-headline.text-center נכסים מעניינים נוספים
            each asset in hotAssets
                include _mobileAssetsCards  

    include _contactUsFixed  
    include _contactUsFixedMobile   
